name: NguyensSN
services:
  kafka:
    image: apache/kafka:4.1.1
    ports:
      - 9092:9092
    environment:
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9093
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://:9092
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_NODE_ID=1
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    networks:
      - NguyensSNNetwork

  kafka-create-topics:
    image: apache/kafka:4.1.1
    depends_on:
      - kafka
    command: |
      sh -c "echo 'waiting for kafka to be ready...';
      echo 'foo';/opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9092 --list;
      echo 'kafka is ready, creating topics...';
      
      /opt/kafka/bin/kafka-topics.sh --create --topic createAccount --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1 || true;
      /opt/kafka/bin/kafka-topics.sh --create --topic accountCreated --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1 || true;
      
      /opt/kafka/bin/kafka-topics.sh --create --topic createPost --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1 || true;
      /opt/kafka/bin/kafka-topics.sh --create --topic postCreated --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1 || true;
      "
    networks:
      - NguyensSNNetwork
  
  webapi:
    depends_on:
      kafka-create-topics:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: WebAPI/dockerfile
    ports:
      - 5209:8080
    networks:
      - NguyensSNNetwork

  account:
    depends_on:
      kafka-create-topics:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: Account/dockerfile
    networks:
      - NguyensSNNetwork
    volumes:
      - ./data:/mnt/data

  post:
    depends_on:
      kafka-create-topics:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: Post/dockerfile
    networks:
      - NguyensSNNetwork
    volumes:
      - ./data:/mnt/data

  email-notification:
    depends_on:
      kafka-create-topics:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: EmailNotification/dockerfile
    networks:
      - NguyensSNNetwork
    volumes:
      - ./data:/mnt/data

  reporting:
    depends_on:
      kafka-create-topics:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: Reporting/dockerfile
    networks:
      - NguyensSNNetwork
    volumes:
      - ./data:/mnt/data
  
networks:
  NguyensSNNetwork: